 .profile__subtitle {
     padding: 16px 0 0;
     font-weight: 400;
     font-size: 14px;
     line-height: 17px;
     margin: 0 auto;
     text-align: center;
     text-overflow: ellipsis;
     white-space: nowrap;
     overflow: hidden;
 }
 
 @media screen and (min-width: 720px) {
     .profile__subtitle {
         font-size: 18px;
         line-height: 22px;
         text-align: left;
         margin: 0;
     }
 }