/* .header__title {
    margin: 0;
    padding: 0;
    padding-right: 27px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-margin-before: 0;
    margin-block-start: 0;
    -webkit-margin-after: 0;
    margin-block-end: 0;
    color: rgb(255, 255, 255);
    margin: 0;
}

@media screen and (min-width: 880px) {
    .header__title {
        padding-right: 0;
    }
} */

.header__email {
    margin: 0;
}

@media screen and (min-width: 880px) {
    .header__email {
        padding-right: 0;
    }
}