.auth__span {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-margin-before: 0;
    margin-block-start: 0;
    color: #fff;
    text-align: center;
    text-decoration-line: none;
}