 .popup__container {
     width: 282px;
     box-sizing: border-box;
     background-color: #FFFFFF;
     box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
     border-radius: 10px;
     display: flex;
     flex-direction: column;
     padding: 25px;
     position: relative;
 }
 
 @media screen and (min-width: 720px) {
     .popup__container {
         width: 430px;
         padding: 35px;
     }
 }