    @import url(./vendor/normalize.css);
    @import url(./fonts/font.css);
    @import url(./blocks/page/page.css);
    @import url(./blocks/header/header.css);
    @import url(./blocks/header/__logo/header__logo.css);
    @import url(./blocks/profile/profile.css);
    @import url(./blocks/profile/__info/profile__info.css);
    @import url(./blocks/profile/__title/profile__title.css);
    @import url(./blocks/profile/__subtitle/profile__subtitle.css);
    @import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
    @import url(./blocks/profile/__avatar/profile__avatar.css);
    @import url(./blocks/profile/__edit-avatar/profile__edit-avatar.css);
    @import url(./blocks/profile/__add-button/profile__add-button.css);
    @import url(./blocks/profile/__edit-button/profile__edit-button.css);
    @import url(./blocks/elements/elements__list.css);
    @import url(./blocks/element/element.css);
    @import url(./blocks/element/__remove/element__remove-button.css);
    @import url(./blocks/element/__title/element__title.css);
    @import url(./blocks/element/__container/element__container.css);
    @import url(./blocks/element/__counter/element__counter.css);
    @import url(./blocks/element/__image/element__image.css);
    @import url(./blocks/element/__heart/element__heart.css);
    @import url(./blocks/element/__heart/_disabled/element__heart_disabled.css);
    @import url(./blocks/element/__heart/_active/element__heart_active.css);
    @import url(./blocks/element/__heading/element__heading.css);
    @import url(./blocks/popup/popup.css);
    @import url(./blocks/popup/_opened/popup_opened.css);
    @import url(./blocks/popup/__error/popup__error.css);
    @import url(./blocks/popup/__error/_avatar/popup__error_avatar.css);
    @import url(./blocks/popup/__error/_active/popup__error_active.css);
    @import url(./blocks/popup/_type_image/popup_type_image.css);
    @import url(./blocks/popup/_opened/popup_opened.css);
    @import url(./blocks/popup/__title/popup__title.css);
    @import url(./blocks/popup/__title/_type_image/popup__title_type_image.css);
    @import url(./blocks/popup/__title/_type_approval/popup__title_type_approval.css);
    @import url(./blocks/popup/__text/popup__text.css);
    @import url(./blocks/popup/__image/popup__image.css);
    @import url(./blocks/popup/__save-button/popup__save-button.css);
    @import url(./blocks/popup/__container/popup__container.css);
    @import url(./blocks/popup/__image-container/popup__image-container.css);
    @import url(./blocks/popup/__close-button/popup__close-button.css);
    @import url(./blocks/popup/__close-button/_type_image/popup__close-button_type_image.css);
    @import url(./blocks/footer/footer.css);
    @import url(./blocks/footer/__copyright/footer__copyright.css);